---
import TopicLayout from '../../layouts/TopicLayout.astro';

const title = 'How far is a light-year?';
const summary = 'A light-year is a useful human-scale way to think about the distances between stars.';
const nextTopics = [
	{ slug: 'what-is-a-parsec', title: 'What is a parsec?' },
	{ slug: 'how-we-measure-stellar-distance', title: 'How we measure stellar distance' }
];
---

<TopicLayout
	title={title}
	summary={summary}
	topicNumber={3}
	nextTopics={nextTopics}
	viewer={{ variant: 'lightyear', topic: 'how-far-is-a-light-year', maxSpeed: 45 }}
>
	<p>
		Light is the fastest thing in the universe. In one second, it can travel around the Earth
		about seven times. A light-year is the distance that light travels in one full year.
	</p>
	<p>
		In kilometres, a light-year is about 9.46 trillion. That number is so large it's
		hard to use. To make it more manageable, astronomers use the speed of light as a yardstick.
		The Sun is 8 "light-minutes" away. Proxima Centauri is 4.2 "light-years" away.
	</p>
	<p>
		When you look at a star that is 100 light-years away, you are seeing it as it was 100
		years ago. This is because the light has taken that long to travel the distance to your
		eyes. In space, distance and time are deeply connected.
	</p>

	<div class="callout panel">
		<p class="panel__eyebrow">Key Idea</p>
		<h3>Distance as a Time Machine</h3>
		<p>
			The further away an object is, the further back in time we see it. This means
			as we map the galaxy, we are also mapping its history.
		</p>
	</div>
</TopicLayout>
